<section id="projects" class="mt-5">
  <div class="container">
    <h2 class="text-center mb-4">Mes Réalisations</h2>

    <div class="row">

      <%# Projet 1 %>
      <div class="col-md-4 p-3">
        <div class="project">
          <%= image_tag 'project/project_portfolio.webp', alt: 'portfolio by adam', width: '100%' %>

          <div class="p-3">
            <h5>Devine le Champion</h5>
            <%# <p>"Devine le Champion" est un jeu web interactif inspiré de l'univers de "League of Legends". En tant que mon premier projet en développement web, j'ai conçu ce jeu pour permettre aux utilisateurs de tester leurs connaissances sur les différents champions du jeu. Grâce à une interface utilisateur intuitive, les joueurs doivent deviner le nom du champion basé sur divers indices tels que le genre, l'année d'introduction, et d'autres caractéristiques uniques. Ce projet m'a permis d'acquérir une solide expérience en HTML, CSS et JavaScript tout en explorant la logique de jeu et l'interaction utilisateur.</p> %>
            <p>Technologies: Ruby on Rail, HTML, CSS, JavaScript</p>

            <div class='d-flex justify-content-center'>

              <%= link_to 'Voir le site','https://www.rheia.pro', class: "btn-site", target:'_blank' %>

              <%= link_to 'Code source', 'https://github.com/anaisbremand/RheIA', class: "btn-source", target:'_blank' %>

            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 p-3">
        <div class="project">
          <%= image_tag 'project/project_devine_le_champion.webp', alt: 'Devine le Champion', width: '100%' %>

          <div class="p-3">
            <h5>Devine le Champion</h5>
            <%# <p>"Devine le Champion" est un jeu web interactif inspiré de l'univers de "League of Legends". En tant que mon premier projet en développement web, j'ai conçu ce jeu pour permettre aux utilisateurs de tester leurs connaissances sur les différents champions du jeu. Grâce à une interface utilisateur intuitive, les joueurs doivent deviner le nom du champion basé sur divers indices tels que le genre, l'année d'introduction, et d'autres caractéristiques uniques. Ce projet m'a permis d'acquérir une solide expérience en HTML, CSS et JavaScript tout en explorant la logique de jeu et l'interaction utilisateur.</p> %>
            <p>Technologies: HTML, CSS, JavaScript</p>

            <div class='d-flex justify-content-center'>

              <%= link_to 'Voir le site','https://heavensal.github.io/devine_le_champion/devine_le_champion.html', class: "btn-site", target:'_blank' %>

              <%= link_to 'Code source', 'https://github.com/heavensal/devine_le_champion/tree/main', class: "btn-source", target:'_blank' %>

            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 p-3">
        <div class="project">
          <%= image_tag 'project/project_rheia.webp', alt: 'Rheia création de post instagram', width: '100%' %>

          <div class="p-3">
            <h5>Devine le Champion</h5>
            <%# <p>"Devine le Champion" est un jeu web interactif inspiré de l'univers de "League of Legends". En tant que mon premier projet en développement web, j'ai conçu ce jeu pour permettre aux utilisateurs de tester leurs connaissances sur les différents champions du jeu. Grâce à une interface utilisateur intuitive, les joueurs doivent deviner le nom du champion basé sur divers indices tels que le genre, l'année d'introduction, et d'autres caractéristiques uniques. Ce projet m'a permis d'acquérir une solide expérience en HTML, CSS et JavaScript tout en explorant la logique de jeu et l'interaction utilisateur.</p> %>
            <p>Technologies: HTML, CSS, JavaScript</p>

            <div class='d-flex justify-content-center'>

              <%= link_to 'Voir le site','https://www.rheia.pro', class: "btn-site", target:'_blank' %>

              <%= link_to 'Code source', 'https://github.com/anaisbremand/RheIA', class: "btn-source", target:'_blank' %>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>
