<div id="skillsCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active text-center px-5">
      <%= image_tag 'logo/rails.png', width: '50%' %>
      <p>
        Ruby on Rails est la consécration de tout mon apprentissage au bootcamp Le Wagon de Marseille. Fort de mes solides connaissances en POO, j'ai compris qu'une application Rails CRUD n'est rien sans elles. Avec une fondation robuste en algorithmie, je travaille constamment avec le dit framework, donnant vie à des projets innovants. Pour moi, utiliser RoR et optimiser l'utilisation des gems est comparable à assembler un puzzle, chaque pièce ayant sa place spécifique pour créer une image complète et fonctionnelle.
      </p>
    </div>

    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/javascript.png', width: '25%' %>
      <p>
        JavaScript est le premier langage que j'ai exploré, appris en totale autodidaxie, et avec lequel j'ai cultivé une affinité particulière. Mon engouement pour lui est renforcé par sa richesse et le foisonnement de ressources disponibles. Fort de ma capacité à écrire des scripts front-end sophistiqués et à intégrer des APIs, j'ai constamment cherché à améliorer l'expérience utilisateur. Actuellement, je me consacre à l'apprentissage de React pour continuer à évoluer.
      </p>
    </div>


    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/html5.png', width: '25%' %>
      <p>
        HTML a été mon premier pas dans le monde du développement web. Évidemment, comme tout développeur sérieux, je le maîtrise à la perfection. Au fil des années, j'ai consolidé ma compétence en construisant des structures solides pour des sites web, tout en garantissant accessibilité et performance. De plus, ma précieuse expérience en marketing digital m'a doté de connaissances avancées en SEO, me permettant d'optimiser le référencement des sites sur lesquels je travaille.
      </p>
    </div>

    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/css.png', width: '25%' %>
      <p>
        CSS a toujours été l'âme jumelle de mon savoir-faire en HTML. Tandis que le HTML pose les fondations, grâce à CSS, je donne vie aux designs et façonne les expériences. Conscient que l'expérience utilisateur est au cœur de tout projet web, je me suis toujours efforcé de créer des interfaces attrayantes, fluides et responsives. M'inspirant des meilleures pratiques et des designs les plus innovants, je vise toujours l'excellence en matière de rendu visuel. De plus, avec mon récent apprentissage du SCSS, j'ai optimisé la structuration de mes styles, rendant le code plus lisible et maintenable pour de futurs ajustements.
      </p>
    </div>

    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/bootstrap.svg', width: '25%' %>
      <p>Bootstrap est un outil que je qualifie d'indispensable dans ma boîte à outils de développeur. Expert en son utilisation, je tire profit de sa robustesse pour développer des interfaces réactives, uniformes et adaptées à tous types d'écrans. Lors de mon projet RheIA, où nous avons adopté la méthode Agile Scrum, il était impératif d'avoir une visualisation solide et opérationnelle rapidement. Bootstrap m'a permis de définir visuellement le projet de manière efficace. La capacité du framework à offrir une conception responsive de manière simple mais puissante souligne sa valeur inestimable dans le paysage du développement web</p>
    </div>

    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/vuejs.png', width: '25%' %>
      <p>Grâce à Vue.js, je crée des applications frontend robustes offrant une expérience utilisateur interactif et performant.</p>
    </div>

    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/sql.png', width: '25%' %>
      <p>Maîtrise de SQLite pour les projets légers et de PostgreSQL pour les solutions plus robustes.</p>
    </div>

    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/sql.png', width: '25%' %>
      <p>Expert dans l'intégration et la construction d'API RESTful garantissant une communication fluide et efficace entre les services.</p>
    </div>

    <div class="carousel-item text-center px-5">
      <%= image_tag 'logo/stimulusjs.png', width: '25%' %>
      <p>Grâce à Stimulus.js, j'ajoute une interactivité supplémentaire aux projets Rails pour une expérience utilisateur optimale.</p>
    </div>




  </div>

  <% # Contrôles du carrousel %>
  <button class="carousel-control-prev" type="button" data-bs-target="#skillsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#skillsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
