<div id="skillsCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">

      <div class="carousel-item active text-center px-5">
        <%= image_tag 'logo/ruby.png', width: '25%', alt: 'Ruby', title: 'Ruby' %>
        <p>
          Ruby est la fondation inébranlable sur laquelle repose Rails. Sa syntaxe élégante et sa facilité de contrôle de flux le rendent non seulement intuitif mais également plaisant à utiliser. Bien qu'il soit essentiel pour quiconque souhaite maîtriser Rails, j'ai pris un réel plaisir à approfondir mes compétences en Ruby, et je peux aujourd'hui affirmer avec confiance ma grande compétence dans ce langage.
        </p>
      </div>

      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/rails.png', width: '50%', alt: 'Ruby on Rails', title: 'Ruby on Rails' %>
        <p>
          Ruby on Rails est la consécration de tout mon apprentissage au bootcamp Le Wagon de Marseille. Fort de mes solides connaissances en POO, j'ai compris qu'une application Rails CRUD n'est rien sans elles. Avec une fondation robuste en algorithmie, je travaille constamment avec le dit framework, donnant vie à des projets innovants. Pour moi, utiliser RoR et optimiser l'utilisation des gems est comparable à assembler un puzzle, chaque pièce ayant sa place spécifique pour créer une image complète et fonctionnelle.
        </p>
      </div>

      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/javascript.png', width: '25%', alt: 'Javascript', title: 'Javascript' %>
        <p>
          JavaScript est le premier langage que j'ai exploré, appris en totale autodidaxie, et avec lequel j'ai cultivé une affinité particulière. Mon engouement pour lui est renforcé par sa richesse et le foisonnement de ressources disponibles. Fort de ma capacité à écrire des scripts front-end sophistiqués et à intégrer des APIs, j'ai constamment cherché à améliorer l'expérience utilisateur. Actuellement, je me consacre à l'apprentissage de React pour continuer à évoluer.
        </p>
      </div>


      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/html5.png', width: '25%', alt: 'HTML', title: 'HTML' %>
        <p>
          HTML a été mon premier pas dans le monde du développement web. Évidemment, comme tout développeur sérieux, je le maîtrise à la perfection. Au fil des années, j'ai consolidé ma compétence en construisant des structures solides pour des sites web, tout en garantissant accessibilité et performance. De plus, ma précieuse expérience en marketing digital m'a doté de connaissances avancées en SEO, me permettant d'optimiser le référencement des sites sur lesquels je travaille.
        </p>
      </div>

      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/css.png', width: '25%', alt: 'CSS', title: 'CSS' %>
        <p>
          CSS a toujours été l'âme jumelle de mon savoir-faire en HTML. Tandis que le HTML pose les fondations, grâce à CSS, je donne vie aux designs et façonne les expériences. Conscient que l'expérience utilisateur est au cœur de tout projet web, je me suis toujours efforcé de créer des interfaces attrayantes, fluides et responsives. M'inspirant des meilleures pratiques et des designs les plus innovants, je vise toujours l'excellence en matière de rendu visuel. De plus, avec mon récent apprentissage du SCSS, j'ai optimisé la structuration de mes styles, rendant le code plus lisible et maintenable pour de futurs ajustements.
        </p>
      </div>

      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/bootstrap.svg', width: '25%', alt: 'Bootstrap', title: 'Bootstrap' %>
        <p>Bootstrap est un outil que je qualifie d'indispensable dans ma boîte à outils de développeur. Expert en son utilisation, je tire profit de sa robustesse pour développer des interfaces réactives, uniformes et adaptées à tous types d'écrans. Lors de mon projet RheIA, où nous avons adopté la méthode Agile Scrum, il était impératif d'avoir une visualisation solide et opérationnelle rapidement. Bootstrap m'a permis de définir visuellement le projet de manière efficace. La capacité du framework à offrir une conception responsive de manière simple mais puissante souligne sa valeur inestimable dans le paysage du développement web.</p>
      </div>

      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/vuejs.png', width: '25%', alt: 'Vue', title: 'Vue.js' %>
        <p>
          Vue.js est une récente addition à mon arsenal de compétences en développement, mais sa valeur est déjà indéniable. Ayant une expérience dans le secteur e-commerce, j'ai rapidement identifié le potentiel de Vue.js pour développer des interfaces fluides, interactives et centrées sur l'utilisateur. En dépit de mon introduction relativement récente à cette technologie, j'ai saisi l'opportunité de l'apprendre et de l'appliquer, me permettant de concevoir des applications frontend robustes qui mettent l'accent sur une expérience utilisateur de qualité supérieure.
        </p>
      </div>

      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/sql.png', width: '25%', alt: 'SQL', title: 'SQL' %>
        <p>
          La manipulation et la gestion des bases de données sont essentielles pour tout développeur web, et SQL est au cœur de cette maîtrise. Tout en utilisant fréquemment Active Record pour simplifier les interactions avec les bases de données dans mes applications, je reconnais la valeur d'une solide compréhension de SQL brut. C'est pourquoi je continue à renforcer mes compétences en SQL, me permettant de maîtriser aussi bien SQLite pour les projets plus légers que PostgreSQL pour des solutions nécessitant davantage de robustesse.
        </p>
      </div>

      <div class="carousel-item text-center px-5">
        <%= image_tag 'logo/stimulusjs.png', width: '25%', alt: 'Stimulus', title: 'Stimulus.js' %>
        <p>
          Stimulus.js est un formidable complément à Ruby on Rails, offrant une puissance et une simplicité qui m'ont immédiatement séduit. Alliant mon affinité pour JavaScript et l'intégration native de Stimulus avec RoR, j'ai su exploiter au maximum ses capacités pour enrichir l'interactivité de mes projets. Le site sur lequel vous naviguez en est une parfaite illustration, utilisant habilement Stimulus pour garantir une expérience utilisateur des plus fluides.
        </p>
      </div>

  </div>

  <!-- Contrôles du carrousel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#skillsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#skillsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>

</div>
