<footer class="footer-dm py-4">
  <div class="container">
    <div class="row justify-content-evenly">
      <!-- Section 1: À propos de moi -->
      <div class="col-md-4">
        <h5>À propos de moi</h5>
        <p>Adam Lamouri, Développeur Web passionné, originaire de Marseille. Toujours à la recherche de nouvelles opportunités pour créer et innover.</p>
      </div>

      <!-- Section 2: Liens rapides -->


      <!-- Section 3: Contact & Réseaux sociaux -->
      <div class="col-md-4">
        <h5>Contactez-moi</h5>
        <ul class="list-inline">

          <li class='list-inline-item'>
            <%= link_to 'mailto:adamlamouri.pro@gmail.com' do %>
              <i class="fas fa-envelope"></i>
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to "https://linkedin.com/in/adamlamouri", target: "_blank" do %>
              <i class="fab fa-linkedin"></i>
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to "https://github.com/heavensal", target: "_blank" do %>
              <i class="fab fa-github"></i>
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to 'cv_adam_lamouri_A3.pdf', download: '' do %>
              <i class="fas fa-file-download"></i>
            <% end %>
          </li>

        </ul>
      </div>

    </div>

    <div>
      <%= link_to "#banner", class: "scroll-to-top", data: { controller: "scroll" } do %>
        <i class="fas fa-arrow-up"></i>
      <% end %>
    </div>



    <!-- Droits d'auteur -->
    <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; <%= Time.now.year %> Adam Lamouri. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
