<main class="mx-5">

<div class="d-flex justify-content-center flex-wrap">
  <div class="my-auto mx-2 text-center">
    <h1>
      Adam Lamouri
    </h1>
    <h2>
      Développeur full-stack
    </h2>
  </div>

  <div class="profil-image border border-5 rounded-5">
  </div>
</div>
  <ul>
    <li>
      Bienvenue sur mon portfolio. Fort d'une formation robuste acquise au Bootcamp du Wagon, je me suis orienté vers le développement full-stack et back-end, tout en affinant une expertise distincte en front-end. L'univers de l'informatique, pour moi, est un terrain de jeu sans fin où chaque documentation lue, chaque technologie explorée réaffirme mon amour pour cette discipline. Chaque jour, je suis émerveillé par l'étendue des connaissances à acquérir, me rappelant que chaque défi est une opportunité d'apprentissage.
      <br>
      L'une de mes expériences les plus marquantes fut lors de mes débuts avec Shopify. Après avoir travaillé plusieurs mois avec la plateforme, je me suis aventuré dans le code de leur thème. Imaginez ma frustration en essayant de déchiffrer ce langage étranger, simplement pour ajouter une date à un endroit précis. Des heures passèrent, mais quand j'ai finalement réussi, une immense satisfaction m'a envahi. C'était à ce moment-là que ma véritable passion pour le développement web s'est éveillée.
      <br>
      Si vous êtes à la recherche d'un développeur passionné, prêt à relever des défis pour un emploi, un projet freelance ou une collaboration inspirante, je suis votre homme. Explorez mon travail, téléchargez mon CV ou écrivez-moi directement à adamlamouri.pro@gmail.com. Transformons ensemble vos idées en réalités numériques.
    </li>

    <li>
      Mon profil Linkedin :
        <%= link_to 'https://www.linkedin.com/in/adamlamouri', target: '_blank' do %>
          <%= image_tag 'logo/linkedin.png', id: 'linkedin' %>
          <% end %>
    </li>

    <li>
      Mon profil Github :
        <%= link_to 'https://github.com/heavensal', target: '_blank' do %>
          <%= image_tag 'logo/github.png', id: 'github' %>
          <% end %>
    </li>

</main>

<h5><%= link_to "En savoir plus sur mes compétences", skills_path %></h5>

    <%# <li>8. **Actualités ou mises à jour récentes** : Si vous avez récemment terminé un projet, suivi une formation ou obtenu une certification, un petit encart mettant en avant ces nouveautés peut être intéressant.
    </li>

    <li>9. **Liens sociaux** : Des icônes menant à vos profils sur LinkedIn, GitHub, Twitter ou tout autre média social pertinent.
    </li>

    <li>10. **Pied de page** : Avec des liens vers d'autres sections de votre site, vos coordonnées et éventuellement des mentions légales ou une politique de confidentialité.

    </li>
  </ul>

  <p>Gardez à l'esprit la simplicité et la clarté. Vous voulez que les visiteurs aient rapidement une idée de qui vous êtes et de ce que vous faites, sans être submergés d'informations. Assurez-vous également que la conception est réactive pour tous les types d'appareils et que les éléments les plus importants sont visibles sans avoir à défiler beaucoup.

  Une fois que vous avez établi un brouillon de votre accueil, n'hésitez pas à le partager avec des amis, des mentors ou des collègues pour obtenir des retours. Ils pourraient avoir des suggestions ou des perspectives que vous n'aviez pas envisagées.
  </p> %>
