<h1>Mes compétences</h1>

<main class="w-75 mx-auto">

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/javascript.png', height:'128', class:"p-3" %>
          <h6 class="text-center p-3">Javascript</h6>
        </div>
        <p>
          Javascript : Ah, Javascript ! Mon tout premier flirt avec la programmation et quelle histoire passionnée nous avons écrite ensemble ! En véritable autodidacte, animé d'une soif insatiable d'apprendre, je me suis plongé avec ardeur dans ce langage. Grâce à des plateformes comme 3WAcademy, Codecademy et Codewars, j'ai construit, brique par brique, un socle solide en JS. Mais ce n'est pas tout : beaucoup de mes compétences en Javascript ont été acquises en explorant et en expérimentant par moi-même, loin des sentiers battus. Et comment ne pas mentionner mon premier projet, entièrement sculpté en JS, HTML et CSS - une véritable fierté ! Grâce à mes escapades avec Ruby on Rails, j'ai maîtrisé Stimulus.js et l'API REST avec aisance. Mon ambition ne s'arrête pas là : je me suis lancé dans le merveilleux monde de React, car mon objectif est de devenir un véritable maestro en Javascript. Et avec la passion qui m'anime et le soleil qui brille dans mon esprit, je sais que chaque ligne de code est une nouvelle promesse d'aventure !
        </p>
      </div>


    </div>
  </section>

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/ruby.png', height:"128", class:"p-3" %>
          <h6 class="text-center p-3">Ruby</h6>
        </div>
        <p>
          Ruby : En m'embarquant dans l'aventure du Bootcamp du Wagon, j'ai été chaleureusement accueilli par le monde scintillant de Ruby. Tout comme un maître artisan comprend l'importance des fondations, j'ai rapidement saisi l'essence de Ruby et la programmation orientée objet, garantissant ainsi un développement back-end impeccable ! Toujours assoiffé de connaissances, je continue de me perfectionner sur Codewars, explorant et se familiarisant avec les méthodes natives de Ruby à chaque défi relevé. Et bien entendu, quelle meilleure application pour Ruby que le merveilleux cadre de Ruby on Rails ? Avec chaque ligne de code en Ruby, je ressens une danse joyeuse de logique et de créativité.
        </p>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/sql.png', height:"128", class:"p-3" %>
          <h6 class="text-center p-3">SQL</h6>
        </div>
        <p>
          SQL : L'univers du SQL s'est ouvert à moi d'abord en tant qu'autodidacte, poussé par une curiosité naturelle. Puis, lors de mon voyage au sein du Bootcamp du Wagon, j'ai découvert la magie d'Active Record. Imaginez : une fusion harmonieuse entre SQL et Ruby, permettant une manipulation élégante et efficace des bases de données sur Rails. C'est comme une danse où chaque mouvement est une requête, chaque pas une ligne de code. Mais mon appétit pour la connaissance ne s'arrête pas là ! Je suis actuellement plongé dans des cours de SQL, me préparant ainsi à jongler avec d'autres langages à l'avenir. Car, au fond, chaque requête est une nouvelle histoire, chaque table une nouvelle aventure !
        </p>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/html5.png', height:"128", class:"p-3" %>
          <%= image_tag 'logo/css.png', height:"128", class:"p-3" %>
          <h6 class="text-center p-3">HTML CSS</h6>
        </div>
        <p>
          HTML & CSS : Au début, ma relation avec HTML et CSS était, disons, un peu timide. Je possédais les bases, juste de quoi esquisser une présence sur l'écran. Mon cœur battait davantage pour la programmation pure et l'algorithmie, laissant le style et l'affichage dans l'ombre de mes passions. Mais, comme dit le proverbe, c'est souvent dans l'adversité que l'on découvre ses vraies forces ! Confronté à la réalisation de mon projet d'application (que je vous invite vivement à découvrir dans mes réalisations), j'ai dû plonger tête la première dans les profondeurs de l'HTML et du CSS. Et quelle révélation ! J'ai su, avec détermination, sculpter un front-end de qualité. Aujourd'hui, avec un brin de fierté, je peux affirmer que l'HTML et le CSS ont gagné une place bien méritée sur mon CV. Et qui sait, peut-être y aura-t-il d'autres surprises à l'horizon ?
        </p>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/rails.png', width:"128", class:"p-3" %>
          <h6 class="text-center p-3">Ruby on Rails</h6>
        </div>
        <p>
          Ruby on Rails : Certains parlent du Saint Graal, moi je pense à Rails. Un joyau d'efficacité, surtout lorsqu'il s'agit de CRUD, qui m'a offert une réelle satisfaction. Pourquoi ? Parce que Rails a ce don unique de rassembler et de cristalliser toutes mes compétences sous un seul et même toit : Stimulus, Ruby, la programmation orientée objet, SQL... C'est comme une symphonie où chaque note, chaque compétence, trouve sa place et son harmonie. Ruby on Rails n'est pas seulement un autre outil dans ma boîte à outils, c'est mon principal compagnon de route, mon instrument de prédilection qui fait chanter mon code !
        </p>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/bootstrap.svg', width:"128", class:"p-3" %>
          <h6 class="text-center p-3">Bootstrap</h6>
        </div>
        <p>
          Bootstrap : Ah, Bootstrap ! Après mes premiers pas hésitants avec HTML et CSS, quelle joie ce fut de découvrir cet outil merveilleusement pratique. Si je devais le décrire en un mot ? Amusant ! Toutefois, je suis de ceux qui croient que chaque milliseconde compte. Ainsi, même si je trouve Bootstrap fantastique pour esquisser rapidement un prototype ou visualiser un projet en développement, je reste prudent quant à son utilisation en production pour garantir des performances optimales. L'efficacité avant tout, n'est-ce pas ? Bien que je maîtrise Bootstrap avec aisance, j'adhère fermement au principe DRY (Don't Repeat Yourself) et préfère limiter son empreinte lorsque le site prend son envol.
        </p>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/vuejs.png', width:"128", class:"p-3" %>
          <h6 class="text-center p-3">Vue.js</h6>
        </div>
        <p>
          Vue.js : Deux étoiles ont guidé mon chemin vers Vue.js. La première, la brillance de sa demande dans le monde professionnel, m'indiquant clairement qu'il s'agit d'une compétence précieuse à maîtriser. La seconde, un exercice époustouflant du Wagon qui m'a introduit à cette technologie avec une élégance rare. Ayant navigué dans l'univers du e-commerce avant même de plonger dans les profondeurs du développement web, je reconnais dans Vue.js une force incroyable pour dynamiser les interfaces. Sa structure bien pensée et sa flexibilité en font un véritable joyau. Chaque jour, avec enthousiasme, je poursuis mon voyage d'apprentissage avec Vue.js, convaincu qu'il enrichira mon arsenal de développeur.
        </p>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-end my-3">
    <div class="card-competence w-50 p-3 rounded-3 ">
      <div class="p-3 d-flex align-items-center">
        <div class="text-center">
          <%= image_tag 'logo/stimulusjs.png', height:"128", class:"p-3" %>
          <h6 class="text-center p-3">Stimulus.js</h6>
        </div>
        <p>
          Stimulus : Ah, Stimulus ! Indispensable compagnon de Rails et source de sourires grâce à sa simplicité rafraîchissante. Chaque ligne de code avec ce framework est comme une note jouée avec aisance sur un instrument familier. Grâce à mon affinité profonde avec Javascript, j'ai su maîtriser Stimulus avec une aisance naturelle. C'est un plaisir de travailler avec un outil qui se marie si harmonieusement avec mes compétences et ma passion pour le développement.
        </p>
      </div>
    </div>
  </section>

</main>

<h5><%= link_to "Voir mes réalisations", projects_path %></h5>
