<nav id='navbar' data-controller='navbar' class='mb-5'>

  <button class='btn' data-action='click->navbar#display' data-navbar-target='btn'>&#8801;</button>
  <button class='btn d-none' data-action='click->navbar#display' data-navbar-target='btn'>&#215;
</button>

  <%= link_to '#banner' do %>
    <div class='responsive' data-navbar-target='menu'>Accueil</div>
  <% end %>

  <%= link_to '#skills' do %>
    <div class='responsive' data-navbar-target='menu'>Compétences</div>
  <% end %>

  <%= link_to '#projects' do %>
    <div class='responsive' data-navbar-target='menu'>Réalisations</div>
  <% end %>

  <%= link_to '#education' do %>
    <div class='responsive' data-navbar-target='menu'>Formations</div>
  <% end %>

  <%= link_to '#contact' do %>
    <div class='responsive' data-navbar-target='menu'>Contact</div>
  <% end %>

</nav>
