<nav class="px-5 mb-5">
  <div class="d-flex justify-content-evenly flex-nowrap">

      <%= link_to '#banner' do %>
        <div class="link p-3">
          <h5>Accueil</h5>
        </div>
      <% end %>

      <%= link_to '#skills' do %>
        <div class="link p-3">
          <h5>Compétences</h5>
        </div>
      <% end %>

      <%= link_to '#projects' do %>
        <div class="link p-3">
          <h5>Réalisations</h5>
        </div>
      <% end %>

      <%= link_to '#education' do %>
        <div class="link p-3">
          <h5>Formations</h5>
        </div>
      <% end %>

      <%= link_to '#contact' do %>
        <div class="link p-3">
          <h5>Contact</h5>
        </div>
      <% end %>

  </div>
</nav>
