<nav id="navbar-bigger" role="navigation" aria-label="Barre de Navigation">

  <ul>
    <li><%= link_to "Compétences", "#skills", aria: { label: "Compétences" } %></li>
    <li><%= link_to "Réalisations", "#projects", aria: { label: "Réalisations" } %></li>
    <li><%= link_to "Formations", "#education", aria: { label: "Formations" } %></li>
    <li><%= link_to "Contact", "#contact", aria: { label: "Contact" } %></li>

    <li class='dark-lang'>
      <%# <button class="lang" aria-label="Langage Anglais">EN</button>
      <button class="lang" aria-label="Langage Espagnol">ES</button> %>
      <button id='darkmode-big' class="icon" aria-label="Mode sombre et lumineux" data-action='click->lightdark#transform'><i class="fas fa-moon"></i></button>
    </li>
  </ul>

</nav>

<nav id='navbar-smaller' data-controller="navbar" role="navigation-téléphone" aria-label="Barre de Navigation sur téléphone">

  <section id='responsive-icons'>
    <button id='nav-icon-open' class='icon' aria-label="Ouverture menu" data-navbar-target="btn" data-action='click->navbar#toggle'>
      <i class="fa-solid fa-bars"></i>
    </button>

    <button id='nav-icon-close' class='icon d-none' aria-label="Fermeture menu" data-navbar-target="btn" data-action='click->navbar#toggle'>
      <i class="fa-solid fa-x"></i>
    </button>

    <div class='dark-lang'>
      <button id='darkmode-small' class="icon" aria-label="Mode sombre et lumineux" data-action='click->lightdark#transform'><i class="fas fa-moon"></i>
      </button>
    </div>
  </section>

  <ul id='responsive-menu' data-navbar-target='menu' class='d-none'>
    <li><%= link_to "Compétences", "#skills", aria: { label: "Compétences" } %></li>
    <li><%= link_to "Réalisations", "#projects", aria: { label: "Réalisations" } %></li>
    <li><%= link_to "Formations", "#education", aria: { label: "Formations" } %></li>
    <li><%= link_to "Contact", "#contact", aria: { label: "Contact" } %></li>
  </ul>

</nav>
