<nav id='navbar'>

  <button class='btn'>&#8801;</button>

  <div class=''>
    <%= link_to 'Accueil', '#banner' %>
  </div>

  <div class=''>
    <%= link_to 'Compétences', '#skills' %>
  </div>

  <div class=''>
    <%= link_to 'Réalisations', '#projects' %>
  </div>

  <div class=''>
    <%= link_to 'Formations', '#education' %>
  </div>

  <div class=''>
    <%= link_to 'Contact', '#contact' %>
  </div>

</nav>
