<div id="skillsCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active text-center">
      <%= image_tag 'logo/ruby.png', width: '25%' %>
      <p>Maîtrise approfondie de Ruby on Rails, avec une expérience dans la création d'applications web robustes et évolutives.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/javascript.png', width: '25%' %>
      <p>Compétent dans l'écriture de scripts front-end complexes et l'intégration d'APIs pour améliorer l'interactivité utilisateur.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/html5.png', width: '25%' %>
      <p>Avec plusieurs années d'expérience en HTML, je construis des structures solides pour des sites web assurant accessibilité et performance.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/css.png', width: '25%' %>
      <p>Grâce à CSS et SCSS, je donne vie aux designs tout en assurant une expérience utilisateur fluide sur tous les appareils.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/bootstrap.svg', width: '25%' %>
      <p>Expert en Bootstrap, je développe des interfaces réactives et cohérentes adaptées à tous les écrans.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/vuejs.png', width: '25%' %>
      <p>Grâce à Vue.js, je crée des applications frontend robustes offrant une expérience utilisateur interactif et performant.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/sql.png', width: '25%' %>
      <p>Maîtrise de SQLite pour les projets légers et de PostgreSQL pour les solutions plus robustes.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/sql.png', width: '25%' %>
      <p>Expert dans l'intégration et la construction d'API RESTful garantissant une communication fluide et efficace entre les services.</p>
    </div>

    <div class="carousel-item text-center">
      <%= image_tag 'logo/stimulusjs.png', width: '25%' %>
      <p>Grâce à Stimulus.js, j'ajoute une interactivité supplémentaire aux projets Rails pour une expérience utilisateur optimale.</p>
    </div>




  </div>

  <% # Contrôles du carrousel %>
  <button class="carousel-control-prev" type="button" data-bs-target="#skillsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#skillsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
