<div id="footer" class="footer mt-5">

<section>
  <h4 class="text-center">Contact</h4>
  <ul>
    <li>adamlamouri.pro@gmail.com</li>
    <li><a href="#">adamlamouri.fr</a></li>
  </ul>
</section>

  <p></p>

  <div class="logo-group">
    <%= link_to 'https://www.linkedin.com/in/adamlamouri', target: '_blank' do %>
      <%= image_tag 'logo/linkedin.png', height: '32' %>
    <% end %>
    <%= link_to 'https://github.com/heavensal', target: '_blank' do %>
      <%= image_tag 'logo/github.png', height: '32' %>
    <% end %>
    <%= link_to 'https://www.codewars.com/users/AL-Doflamingo', target: '_blank' do %>
      <%= image_tag 'logo/codewars.svg', height: '32' %>
    <% end %>
  </div>



<div class="text-end">
  <a href="#banner">Revenir en haut</a>
</div>


</div>
