<nav class="px-5 py-3">
  <div class="d-flex justify-content-evenly">

    <div>
      <h5><%= link_to 'Accueil', root_path %></h5>
    </div>

    <div>
      <h5><%= link_to 'Compétences', skills_path %></h5>
    </div>

    <div>
      <h5><%= link_to 'Réalisations', projects_path %></h5>
    </div>

    <div>
      <h5><%= link_to 'Formations', training_path %></h5>
    </div>

    <div>
      <h5><%= link_to 'A propos', about_path %></h5>
    </div>

  </div>
</nav>
