<nav class="px-5 mb-5">
  <div class="d-flex justify-content-evenly flex-nowrap">

      <%= link_to root_path do %>
        <div class="link p-3">
          <h5>Accueil</h5>
        </div>
      <% end %>

      <%= link_to skills_path do %>
        <div class="link p-3">
          <h5>Compétences</h5>
        </div>
      <% end %>

      <%= link_to projects_path do %>
        <div class="link p-3">
          <h5>Réalisations</h5>
        </div>
      <% end %>

      <%= link_to training_path do %>
        <div class="link p-3">
          <h5>Formations</h5>
        </div>
      <% end %>

      <%= link_to about_path do %>
        <div class="link p-3">
          <h5>A propos</h5>
        </div>
      <% end %>

  </div>
</nav>
