<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioByAdam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render 'layouts/1banner' %>
    <%= render 'layouts/2navbar' %>
    <%= render 'layouts/3intro' %>
    <%= render 'layouts/4skills' %>
    <%= render 'layouts/5projects' %>
    <%= render 'layouts/6education' %>
    <%= render 'layouts/7contact' %>
    <%= render 'layouts/8footer' %>

  </body>
</html>
