<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioByAdam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='body-dm' data-controller='lightdark'>
    <header>
      <%= render 'layouts/header/1banner' %>
    </header>

    <%= render 'layouts/2navbar' %>

    <main>
      <%= render 'layouts/main/3intro' %>
      <%= render 'layouts/main/4skills' %>
      <%= render 'layouts/main/5projects' %>
      <%= render 'layouts/main/6education' %>
      <%= render 'layouts/main/7contact' %>
    </main>

    <%= render 'layouts/footer/8footer' %>

  </body>
</html>
